.header-menu {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;

    &.testA {
      justify-content: flex-end;
    }

    li {
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;

      &:hover {
        background-color: #222;
      }
    }
  }
}
